/*================== fonts======================*/
@import url('../fonts/dosis/Dosis-Regular.ttf');
@import url('../fonts/opensans/OpenSans-Regular.ttf');
/*================== variables =================*/
$detroit-color-1: #23a696;
$detroit-color-1-light: lighten($detroit-color-1,50%);
$top-bar-color: none;
$top-bar-font-color: #fff;
$top-bar-height: 6vh;
$top-bar-top-spacing: 1em;
$content-height: 100vh;
$neighborhood-info-height: 80vh;
$left-content-max-width: 72em;
/*================== tags ======================*/
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
main {
	width: 100%;
	height: 100vh;
	position: relative;
}
h1,h2,h3,h4,h5{
	font-family: 'Dosis', sans-serif;
}
/*======================= top ==================*/
#top{
	margin-top: $top-bar-top-spacing;
	@extend .full-width-flex-container;
	@extend .flex-stretch-content;
	background: $top-bar-color;
}
#logo{
	background: $detroit-color-1;
	@extend .flex-container;
	max-width: 8em;
}
#logo > img{
	max-height: $top-bar-height;
}
#site-title{
	color: $top-bar-font-color;
	background: $detroit-color-1;
	@extend .flex-container;
	height: $top-bar-height;
	padding: 0 1em 0 0;
	max-width: 15em;
	margin: 0;
}
#site-title > h3{
	font-size: 2.5vh;
	@extend .center-center-innercontent;
}
#site-title > h3 > span{
	@extend .font-minus-40-percent;
}
.top-nav-item{
	@extend .flex-container;
	cursor: pointer;
}
.top-nav-item:hover{
	background: $detroit-color-1;
	color: $top-bar-font-color;
}
.top-nav-item > span{
	margin: auto;
	padding: 1em;
	font-size: 1.25vh;
}
#content{
	padding: 0 2em;
}
.content-row{
	@extend .full-width-flex-container;
	@extend .flex-stretch-content;
}
.description-section{
	flex: 1;
	padding-right: 1em;
	max-width: $left-content-max-width;
}
.description-section > img{
	max-width: 100%;
	margin-bottom: 1em;
}
.description-section > .description-text{
	clear: both;
	display: block;
	font-size: 1.5em;
}
.near-neighborhoods{
	font-size: 1.25em;
	margin-top: 1em;
}
.four-squares-section{
	background: $detroit-color-1-light;
	width: 40em;
}
.profile-container{
	@extend .flex-container;
	max-width: $left-content-max-width;
}
.profile-item > .person-info > img{
	width: 5em;
}
.profile-item > .person-info > span{
	font-size: 2em;
}
.profile-item > .person-info > span > .person-neighborhood{
	@extend .font-minus-40-percent;
	position: relative;
	top: -1em;
}
.profile-item > .person-story{
	font-size: 1.5em;
}
.associations-clubs-section{
	max-width: $left-content-max-width;
	margin-right: 1em;
}
.associations-clubs-container{
	@extend .flex-container;
}
.associations-clubs-container > .association-club-item{
	font-size: 1.5em;
	padding-right: 2em;
}
.association-club-item-social-media{
	@extend .flex-container;
}
.association-club-item-social-media > a > img{
	width: 3em;
}
/*=================== modules ===================*/
.full-width-flex-container{
	width: 100%;
	display: flex;
	margin-bottom: 3em;
}
.flex-container{
	display: flex;
}
.flex-stretch-content{
	align-items: stretch;
}
.flex-align-items-end{
	align-items: flex-end;
}
.flex-right-justify-items{
	justify-content: flex-end;
}
.flex-center-justify-items{
	justify-content: center;
}
.flex-space-between-justify-items{
	justify-content: space-between;
}
.flex-conteiner-wrap{
	flex-wrap: wrap;
}
/*=================== surgical ==================*/
.center-center-innercontent{
	margin: auto;
}
.font-minus-50-percent{
	font-size: 50%;
}
.font-minus-40-percent{
	font-size: 60%;
}
.font-minus-30-percent{
	font-size: 70%;
}
.font-minus-25-percent{
	font-size: 75%;
}
.margin-bottom-1{
	margin-bottom: 1em;
}
.margin-right-1{
	margin-right: 1em;
}
