/*================== imports ======================*/
/*================== imports ======================*/
@import url("../fonts/dosis/Dosis-Regular.ttf");
@import url("../fonts/opensans/OpenSans-Regular.ttf");
/*================== variables =================*/
/*================== tags ======================*/
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  height: 100vh;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: 'Dosis', sans-serif; }

/*======================= top ==================*/
#top {
  position: absolute;
  top: 1em;
  z-index: 5;
  width: 100%;
  height: 8vh;
  background: none;
  color: #fff; }

#top-container > a:hover, #top-container > a:visited, #top-container > a {
  color: #fff;
  text-decoration: none; }

#logo {
  background: #000;
  max-width: 8em; }

#logo > img {
  padding: .5em 0;
  max-height: 8vh;
  max-width: 100%; }

#site-title {
  background: #000;
  height: 8vh;
  padding: 0 1em 0 0;
  max-width: 15em;
  margin: 0; }

#site-title > h3 {
  font-size: 3vh; }

#spacing-title-search {
  flex: 1; }

#search {
  width: 25em; }

#search-btn {
  background: #fff;
  color: #000;
  font-size: 2.25em;
  padding: 0 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

#search-btn:hover {
  color: #000;
  font-size: 2.5em;
  transition: all 0.2s ease-in-out; }

@media all and (max-width: 800px) {
  #spacing-title-search {
    display: none; }

  #search {
    flex: 1; } }
#search > form {
  width: 100%;
  text-align: right; }

#address-search {
  color: #000;
  border: none;
  height: 8vh;
  font-size: 1.5em;
  padding-left: .5em;
  width: 100%; }

#navigation {
  width: 8vh;
  height: 8vh;
  background: #fff; }

.sub-menu-row.hidden {
  display: none; }

.sub-menu-row.active {
  position: absolute;
  top: 8vh;
  margin-top: 1em;
  z-index: 5;
  width: 100%; }

.sub-menu-row > div:first-child {
  flex: 1; }

.sub-menu-container {
  border-top: solid 1px #E0E0E0;
  background: #fff;
  color: #afafaf;
  width: 20em; }

.sub-menu-container > .sub-menu-item {
  cursor: pointer;
  padding: 1em 2em;
  font-size: 1.25em;
  transition: all 0.2s ease-in-out; }

.sub-menu-container > .sub-menu-item:hover {
  background: #000;
  color: #fff;
  transition: all 0.2s ease-in-out; }

.sub-menu-container > .sub-menu-item.active > span {
  color: #000; }

.sub-menu-container > .sub-menu-item.active:hover > span {
  color: #FFD769; }

.sub-menu-container > .sub-menu-item > span {
  margin-right: .5em; }

/*=================== content ===================*/
#content {
  width: 100%;
  height: 100vh; }

#neighborhood-info-container {
  max-height: 80vh;
  max-width: 90%;
  position: absolute;
  bottom: 0;
  right: 0; }

#neighborhood-info-container.hidden {
  display: none; }

@media all and (max-width: 799px) {
  #neighborhood-info-container {
    margin-left: 5%;
    max-width: 90%; } }
.info-card {
  position: relative;
  max-width: 90%;
  max-height: 80vh;
  background: #fff;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

#info-card-hide-btn {
  cursor: pointer;
  position: absolute;
  top: -1em;
  left: calc((100% - 6em)/2);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #EB002B transparent transparent transparent;
  transition: all 0.2s ease-in-out; }

#info-card-hide-btn > span {
  color: #fff;
  font-size: 1.5em;
  position: relative;
  top: -1.85em;
  left: -.29em;
  transition: all 0.2s ease-in-out; }

#info-card-hide-btn:hover {
  border-width: 4em 3em 0 3em;
  transition: all 0.2s ease-in-out; }

#info-card-hide-btn:hover > span {
  top: -2.3em;
  transition: all 0.2s ease-in-out; }

.info-card-row {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em; }

.info-card-row.near-neighborhoods > span.near-neighborhoods-list > a {
  padding: .1em;
  background: #A1D0F6; }

.info-card-row.near-neighborhoods > span.near-neighborhoods-list > a:hover {
  background: #93BEE0; }

.info-card-row.four-squares {
  max-width: 30em; }

.info-card-row > h3 {
  text-align: center;
  width: 100%; }

.video-wrap {
  max-width: 35em;
  margin: auto; }

.neighborhood-summary {
  max-width: 35em; }

.info-card-row > .metric-box {
  color: #fff;
  text-align: center;
  width: 6em;
  max-height: 8em;
  background: #000;
  padding: .25em;
  margin-right: .2em; }

.info-card-row > .metric-box > img {
  width: 2.5em;
  height: 2.5em; }

.info-card-row > .metric-box > span {
  font-size: 1.25em; }

#learn-more-btn {
  margin-top: 1em;
  height: 2.5em;
  padding: .5em;
  background: #EB002B;
  color: #fff;
  cursor: pointer; }

.learn-more-btn-space-mover {
  width: calc((30em - 24em)/2); }

@media all and (max-height: 768px) {
  .video-wrap, .neighborhood-summary {
    max-width: 90%; }

  .learn-more-btn-space-mover {
    width: 2em; }

  .learn-more-btn-space-move.left {
    width: calc((100% - 24em)/2); }

  .info-card-row.four-squares {
    max-width: 100%; } }
/*=================== modules ===================*/
.full-width-flex-container, #top-container, .sub-menu-row.active {
  width: 100%;
  display: flex;
  margin-bottom: 3em; }

.flex-container, #logo, #site-title, #search-btn, #neighborhood-info-container, .info-card-row, #center-content, .grid-row, .grid-row > .grid-item.text-content, #footer-container {
  display: flex; }

.flex-stretch-content, #top-container, .grid-row {
  align-items: stretch; }

.flex-align-items-end, .info-card-row.four-squares {
  align-items: flex-end; }

.flex-right-justify-items, .sub-menu-container {
  justify-content: flex-end; }

.flex-center-justify-items, .info-card-row.four-squares {
  justify-content: center; }

.flex-space-between-justify-items {
  justify-content: space-between; }

.flex-conteiner-wrap, .info-card-row.four-squares {
  flex-wrap: wrap; }

/*=================== surgical ==================*/
.center-center-innercontent, #site-title > h3, #search-btn > span {
  margin: auto; }

.font-minus-75-percent {
  font-size: 25%; }

.font-minus-65-percent {
  font-size: 35%; }

.font-minus-60-percent {
  font-size: 40%; }

.font-minus-55-percent {
  font-size: 45%; }

.font-minus-50-percent {
  font-size: 50%; }

.font-minus-40-percent, #site-title > h3 > span {
  font-size: 60%; }

.font-minus-30-percent {
  font-size: 70%; }

.font-minus-25-percent {
  font-size: 75%; }

.margin-bottom-1 {
  margin-bottom: 1em; }

.margin-right-1 {
  margin-right: 1em; }

#center-content {
  width: 100%;
  height: 100vh; }

#center-content > .content-box {
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  max-width: 30em;
  margin: auto; }

#center-content > .content-box > h3 {
  margin: 0; }

#go-to-map {
  cursor: pointer;
  position: absolute;
  bottom: -8em;
  left: 20em;
  width: 30em; }

#go-to-map > img {
  width: 60%; }

#go-to-map > .message {
  position: relative;
  left: -10em;
  padding: .5em; }

#content {
  background: url(../img/cover.jpg) no-repeat center center fixed;
  background-size: cover; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../video/video.png) no-repeat;
  background-size: cover; }

@media screen and (max-device-width: 800px) {
  html {
    background: url(../video/video.png) #000 no-repeat center center fixed; }

  #bgvid {
    display: none; } }
video#bgvid {
  transition: 1s opacity; }

button {
  position: absolute;
  bottom: 3em;
  left: 3em; }

.stopfade {
  opacity: .5; }

#under-fold-content {
  width: 100%; }

#under-fold-content > .grid-row:nth-child(even) > .grid-item.text-content {
  background: #fff;
  order: 2; }

#under-fold-content > .grid-row:nth-child(odd) > .grid-item.text-content {
  background: #000;
  color: #fff; }

.grid-row {
  width: 100%; }

.grid-row > .grid-item {
  width: 50%; }

@media all and (max-width: 850px) {
  .grid-row {
    flex-wrap: wrap; }

  .grid-row > .grid-item {
    width: 100%; } }
.grid-item.text-content > .content-box {
  padding: 1em 2em;
  margin: auto; }

.grid-item.text-content > .content-box {
  font-size: 2em; }

.grid-row > .grid-item > img {
  width: 100%; }

footer {
  font-size: 1.25em;
  color: #fff;
  background: #000;
  width: 100%; }

.footer-section-item {
  flex: 1;
  padding: 1em; }

.footer-section-item > .section-title {
  font-weight: bold; }

.footer-section-item > ul {
  list-style-type: none;
  padding-top: 1em;
  padding-left: 0; }

#footer-container > .footer-section-item.logo {
  width: 5em; }

#footer-container > .footer-section-item.logo > img {
  max-width: 100%; }

/*# sourceMappingURL=neighborhoods-index-styles-0.2.css.map */
