// Author: Edgar Montes
// Department of Innovation Technology
// Organization: City of Detroit
/*================== imports ======================*/
@import "neighborhoods-styles-0.1.scss";
//================== top ==========================
#center-content{
  width: 100%;
  height: 100vh;
  @extend .flex-container;
}
#center-content > .content-box{
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, .7);
  font-size: 1.5em;
  max-width: 30em;
  margin: auto;
}
#center-content > .content-box > h3{
  margin: 0;
}
#go-to-map{
  cursor: pointer;
  position: absolute;
  bottom: -8em;
  left: 20em;
  width: 30em;
}
#go-to-map > img{
  width: 60%;
}
#go-to-map > .message{
  position: relative;
  left: -10em;
  padding: .5em;
}
#content{
  background: url(../img/cover.jpg) no-repeat center center fixed;
  background-size: cover;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../video/video.png) no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(../video/video.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
video#bgvid {
    transition: 1s opacity;
}
button{
  position: absolute;
  bottom: 3em;
  left: 3em;
}
.stopfade { opacity: .5; }
#under-fold-content{
  width: 100%;
}
#under-fold-content > .grid-row:nth-child(even) > .grid-item.text-content{
  background: $top-bar-font-color;
  order: 2;
}
#under-fold-content > .grid-row:nth-child(odd) > .grid-item.text-content{
  background: $detroit-color-1;
  color: $top-bar-font-color;
}
.grid-row{
  width: 100%;
  @extend .flex-container;
  @extend .flex-stretch-content;
}
.grid-row > .grid-item{
  width: 50%;
}
@media all and (max-width: 850px) {
  .grid-row{
    flex-wrap: wrap;
  }
  .grid-row > .grid-item{
    width: 100%;
  }
}
.grid-row > .grid-item.text-content{
  @extend .flex-container;
}
.grid-item.text-content > .content-box{
  padding: 1em 2em;
  margin: auto;
}
.grid-item.text-content > .content-box{
  font-size: 2em;
}
.grid-row > .grid-item > img{
  width: 100%;
}
footer{
  font-size: 1.25em;
  color: $top-bar-font-color;
  background: $detroit-color-1;
  width: 100%;
}
#footer-container{
  @extend .flex-container;
}
.footer-section-item{
  flex: 1;
  padding: 1em;
}
.footer-section-item > .section-title{
  font-weight: bold;
}
.footer-section-item > ul{
  list-style-type: none;
  padding-top: 1em;
  padding-left: 0;
}
#footer-container > .footer-section-item.logo{
  width: 5em;
}
#footer-container > .footer-section-item.logo > img{
  max-width: 100%;
}
