// Author: Edgar Montes
// Department of Innovation Technology
// Organization: City of Detroit
// =================== imports ==================
@import "neighborhoods-styles-0.1.scss";
/*================== variables =================*/
$detroit-color-1-light: lighten($detroit-color-1,50%);
$top-bar-color: none;
$top-bar-font-color: #fff;
$top-bar-height: 8vh;
$top-bar-top-spacing: 1em;
$content-height: 100vh;
$neighborhood-info-height: 80vh;
$width-break-point-1: 799;
$width-break-point-2: 1024px;
$width-break-point-3: 1680px;
// ==================== tags ====================
main{
	overflow-y: scroll;
}
/*======================= top ==================*/
#top{
	position: relative;
}
#back-top{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
}
#logo{
	background: $detroit-color-1;
	@extend .flex-container;
	max-width: 8em;
}
#logo > img{
	max-height: $top-bar-height;
}
#site-title{
	color: $top-bar-font-color;
	background: $detroit-color-1;
	@extend .flex-container;
	height: $top-bar-height;
	padding: 0 1em 0 0;
	max-width: 15em;
	margin: 0;
}
#site-title > h3{
	font-size: 2.5vh;
	@extend .center-center-innercontent;
}
#site-title > h3 > span{
	@extend .font-minus-40-percent;
}
.top-nav-item{
	@extend .flex-container;
	cursor: pointer;
	font-size: 2em;
	color: #000;
}
.top-nav-item:hover{
	background: $detroit-color-1;
	color: $top-bar-font-color;
}
.top-nav-item > span{
	margin: auto;
	padding: 1em;
	font-size: 1.25vh;
}
#spacing-title-search{
	flex: 1;
}
#navigation{
	width: $top-bar-height;
	height: $top-bar-height;
	background: #fff;
	margin-right: 2em;
}
// ==================== Content =======================
#content{
	padding: 0 2em;
}
.content-row{
	@extend .full-width-flex-container;
	@extend .flex-stretch-content;
}
.left-content{
	flex: 1;
	padding-right: 1em;
}
.section-headers{
	background: $detroit-color-1;
	color: $top-bar-font-color;
	padding: 1em .5em;
}
.description-section{
	flex: 1;
	padding-right: 1em;
}
.description-section > .description-images{
	margin-bottom: 1em;
}
.description-section > .description-images > img:first-child{
	max-width: 100%;
}
.description-section > .description-images > img:nth-child(2), .description-section > .description-images > img:nth-child(3){
	display: none;
}
@media all and (min-width: $width-break-point-2) {
	.description-section > .description-images > img:first-child, .description-section > .description-images > img:nth-child(2){
		width: 49%;
		display: inline;
	}
}
@media all and (min-width: $width-break-point-3) {
	.description-section > .description-images > img:first-child, .description-section > .description-images > img:nth-child(2), .description-section > .description-images > img:nth-child(3){
		width: 33%;
		display: inline;
	}
}
.description-section > .description-text{
	clear: both;
	display: block;
	font-size: 1.5em;
}
.near-neighborhoods{
	font-size: 1.25em;
	margin-top: 1em;
}
.four-squares-section{
	width: 35em;
}
.four-squares-section > .single-block, .four-squares-section > .pair{
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
	margin: auto;
}
.four-squares-section > .pair.first-pair{
	border-bottom: 1px solid #e7e7e7;
}
.four-squares-section > .pair.first-pair > .square-item:first-child{
	border-right: 1px solid #e7e7e7;
}
.four-squares-section > .pair.second-pair > .square-item:first-child{
	border-right: 1px solid #e7e7e7;
}
.four-squares-section > .single-block > .square-item{
	padding: 2em;
	margin: auto;
	width: 100%;
	max-width: 800px;
}
.four-squares-section > .pair > .square-item{
	padding: 2em;
	margin: auto;
	text-align: center;
	color: $detroit-color-1;
	width: 50%;
}
.four-squares-section > .pair > .square-item > img{
	float: none;
	margin: 0;
	width: 8em;
}
.four-squares-section > .pair > .square-item > h5{
	clear: both;
}
.four-squares-section > .pair > .square-item > span{
	font-size: 2.5em;
}
.profile-container{
	@extend .flex-container;
	width: 100%;
	overflow-x: hidden;
}
.profile-container > .profile-item:first-child{
	width: 100%;
}
.profile-container > .profile-item:not(:first-child){
	display: none;
}
.profile-item{
	margin-right: 2em;
}
.profile-item > .person-info{
	position: relative;
}
.profile-item > .person-info > img{
	width: 8em;
	border-radius: 50%;
	float: none;
}
.profile-item > .person-info > p{
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 5em;
}
.profile-item > .person-info > p > .person-neighborhood{
	@extend .font-minus-40-percent;
	position: relative;
	top: -1em;
}
.profile-item > .person-story{
	margin-top: .5em;
	font-size: 1.5em;
}
.associations-clubs-section{
	flex: 1;
	margin-right: 1em;
}
.associations-clubs-container{
	@extend .flex-container;
	@extend .flex-conteiner-wrap;
}
.associations-clubs-container > .association-club-item{
	font-size: 1.5em;
	padding-right: 2em;
	padding-bottom: 2em;
}
.association-club-item-social-media{
	@extend .flex-container;
}
.association-club-item-social-media > a > img{
	width: 3em;
}
.event-container{
	width: 100%;
}
.event-container > .event-list{
	@extend .flex-container;
	@extend .flex-center-justify-items;
}
.event-list > .event-item{
	margin-right: 2em;
	width: 35em;
}
.event-list > .event-item > .event-banner{
	width: 100%;
	height: 20em;
	overflow: hidden;
}
.event-list > .event-item > .event-banner > img{
	max-width: 100%;
}
.event-item > .event-details{
	@extend .flex-container;
}
.event-details > .event-date{
	padding-right: .5em;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
.event-details > .event-date > span{
	position: relative;
}
.event-date > span.event-month{
	@extend .font-minus-50-percent;
	top: -1.5em;
}
.event-date > span.event-year{
	@extend .font-minus-55-percent;
	top: -3.5em;
}
.event-description{
	padding-top: 1em;
}
.event-description > .event-name{
	cursor: pointer;
	color: $detroit-color-1;
	font-size: 2em;
	font-weight: bold;
}
.event-description > .event-text{
	font-size: 1.5em;
}
/*=================== modules ===================*/
.full-width-flex-container{
	width: 100%;
}
.event-container > .event-list{
	@extend .flex-container;
	@extend .flex-center-justify-items;
}
.event-list > .event-item{
	margin-right: 2em;
	width: 35em;
}
.event-list > .event-item > .event-banner{
	width: 100%;
	height: 20em;
	overflow: hidden;
}
.event-list > .event-item > .event-banner > img{
	max-width: 100%;
}
.event-item > .event-details{
	@extend .flex-container;
}
.event-details > .event-date{
	padding-right: .5em;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}
.event-details > .event-date > span{
	position: relative;
}
/*=================== surgical ==================*/
.center-center-innercontent{
	margin: auto;
}
.font-minus-75-percent{
	font-size: 25%;
}
.font-minus-65-percent{
	font-size: 35%;
}
.font-minus-60-percent{
	font-size: 40%;
}
.font-minus-55-percent{
	font-size: 45%;
}
.font-minus-50-percent{
	font-size: 50%;
}
.event-date > span.event-month{
	@extend .font-minus-50-percent;
	top: -1.5em;
}
.event-date > span.event-year{
	@extend .font-minus-55-percent;
	top: -3.5em;
}
.event-description{
	padding-top: 1em;
}
.event-description > .event-name{
	cursor: pointer;
	color: $detroit-color-1;
	font-size: 2em;
	font-weight: bold;
}
.event-description > .event-text{
	font-size: 1.5em;
}
