/*================== fonts======================*/
@import url('assets/fonts/dosis/Dosis-Regular.ttf');
@import url('assets/fonts/opensans/OpenSans-Regular.ttf');
/*================== variables =================*/
$detroit-color-1: #23a696;
$top-bar-color: none;
$top-bar-font-color: #fff;
$top-bar-height: 8vh;
$top-bar-top-spacing: 1em;
$content-height: 100vh;
/*================== tags ======================*/
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 1em;
	margin: 0;
	padding: 0;
} 
main {
	width: 100%; 
	height: 100vh;
	position: relative;
}
h1,h2,h3,h4,h5{
	font-family: 'Dosis', sans-serif;
}
/*======================= top ==================*/
#top{
	position: absolute;
	top: $top-bar-top-spacing;
	z-index: 5;
	width: 100%;
	height: $top-bar-height;
	background: $top-bar-color;
	color: $top-bar-font-color;
}
#top-container{
	@extend .full-width-flex-container;
	@extend .flex-stretch-content;
}
#logo{
	background: $detroit-color-1;
	@extend .flex-container;
	max-width: 8em;
}
#logo > img{
	max-height: $top-bar-height;
}
#site-title{
	background: $detroit-color-1;
	@extend .flex-container;
	height: $top-bar-height;
	padding: 0 1em 0 0;
	max-width: 12em;
	margin: 0;
}
#site-title > h3{
	@extend .center-center-innercontent;
}
#site-title > h3 > span{
	@extend .font-minus-40-percent;
}
#spacing-title-search{
	flex: 1;
}
#search{
	width: 25em;
}
#search-btn{
	background: #fff;
	color: #000;
	font-size: 2.25em;
	padding: 0 1em;
	@extend .flex-container;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
#search-btn:hover{
	color: $detroit-color-1;
	font-size: 2.5em;
	transition: all 0.2s ease-in-out;
}
#search-btn > span{
	@extend .center-center-innercontent;
}
@media all and (max-width: 800px) {
	#spacing-title-search{
		display: none;
	}
	#search{
		flex: 1;
	}
}
#search > form{
	width: 100%;
	text-align: right;
}
#address-search{
	color: #000;
	border: none;
	height: $top-bar-height;
	font-size: 1.5em;
	padding-left: .5em;
	width: 100%;
}
#navigation{
	width: $top-bar-height;
	height: $top-bar-height;
	background: #fff;
}
.sub-menu-row.hidden{
	display: none;
}
.sub-menu-row.active{
	position: absolute;
	top: $top-bar-height;
	margin-top: $top-bar-top-spacing;
	z-index: 5;
	width: 100%;
	@extend .full-width-flex-container;
}
.sub-menu-row > div:first-child{
	flex: 1;
} 
.sub-menu-container{
	border-top: solid 1px #E0E0E0;
	background: #fff;
	color: #afafaf;
	@extend .flex-right-justify-items;
	width: 20em;
}
.sub-menu-container > .sub-menu-item{
	cursor: pointer;
	padding: 1em 2em;
	font-size: 1.25em;
	transition: all 0.2s ease-in-out;
}
.sub-menu-container > .sub-menu-item:hover{
	background: $detroit-color-1;
	color: #fff;
	transition: all 0.2s ease-in-out;
}
.sub-menu-container > .sub-menu-item.active > span{
	color: $detroit-color-1;
}
.sub-menu-container > .sub-menu-item.active:hover > span{
	color: #FFD769;
}
.sub-menu-container > .sub-menu-item > span{
	margin-right: .5em;
}
/*=================== content ===================*/
#content{
	width: 100%;
	height: $content-height;
}

/*=================== modules ===================*/
.full-width-flex-container{
	width: 100%;
	display: flex;
}
.flex-container{
	display: flex;
}
.flex-stretch-content{
	align-items: stretch;
}
.flex-right-justify-items{
	justify-content: flex-end;
}
/*=================== surgical ==================*/
.center-center-innercontent{
	margin: auto; 
}
.font-minus-50-percent{
	font-size: 50%;
}
.font-minus-40-percent{
	font-size: 60%;
}
.font-minus-30-percent{
	font-size: 70%;
}
.font-minus-25-percent{
	font-size: 75%;
}
